.main-container{
  /* height: 100vh; */
  background-color: white;
}
.add-users-main-container{
  /* height: 100vh; */
  margin-right: -12px;
  background-color: #fafafa;
}
.row-container{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 20px;
}

@media print {
  @page {
    size: portrait;
  }
  body * {
    visibility: hidden;
  }
  #section-to-print, #section-to-print * {
    visibility: visible;
    overflow: visible !important;
  }
}

#section-to-print-add, #section-to-print-add * {
  display: none;
}

.css-bgw0rf-MuiFormHelperText-root{
  margin-top: 0 !important;
}
