.mbsc-material.mbsc-textfield-wrapper {
  margin: 0em !important;
  box-sizing: border-box;
}
.mbsc-material.mbsc-textfield {
  border-bottom: none !important;
}
.mbsc-material.mbsc-textfield-wrapper {
  border: 1px solid #d9d9d9 !important;
  border-radius: 4px !important;
  padding-top: 1px !important;
  padding-bottom: 1px !important;
  padding-left: 2px !important;
  padding-right: 2px !important;
}

.mbsc-material .mbsc-textfield-ripple-active {
  background-color: transparent !important;
  transform: none !important;
}

.mbsc-material.mbsc-textfield-box-stacked,
.mbsc-material.mbsc-textfield-box-floating {
  height: 0em !important;
  padding-top: 1.25em !important;
  padding-bottom: 1em !important;
  outline: none !important;
}

.mbsc-material.mbsc-textfield {
  transition: none !important;
}

.mbsc-material.mbsc-textfield-box,
.mbsc-material.mbsc-textfield-inner-box {
  border-radius: 0em !important;
  /* border: 1px solid #d9d9d9 !important; */
}

.mbsc-material.mbsc-textfield-box.mbsc-select,
.mbsc-material.mbsc-textfield-inner-box {
  background: white !important;
}

.mbsc-material.mbsc-label-box-floating.mbsc-ltr,
.mbsc-material.mbsc-label-outline-floating.mbsc-ltr {
  left: 1em !important;
  top: 0em !important;
  background: white !important;
  padding-left: 0.3em !important;
  padding-right: 0.3em !important;
  border-radius: 0.2em !important;
  color: #6e6e6e !important;
}
